.bg-black {
  background-color: #000; }

.color-black {
  color: #000; }

.bg-white {
  background-color: #fff; }

.color-white {
  color: #fff; }

.bg-color-primary {
  background-color: #2e5470; }

.color-color-primary {
  color: #2e5470; }

.bg-color-secondary {
  background-color: #56bcbb; }

.color-color-secondary {
  color: #56bcbb; }

* {
  box-sizing: border-box; }
  *::before, *::after {
    box-sizing: border-box; }

ul {
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

p {
  margin: 0; }

a:focus,
a:hover,
a:active {
  outline: none; }

.cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }

.flex {
  display: flex;
  align-items: center; }

.flex-end {
  display: flex;
  justify-content: flex-end; }

.center {
  text-align: center; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Futura Std", sans-serif;
  text-transform: uppercase; }

h1, .h1 {
  font-size: 70px;
  color: #fff; }

h2, .h2 {
  font-size: 50px;
  line-height: 50px;
  color: #2e5470; }

h3, .h3 {
  font-size: 30px;
  line-height: 50px;
  color: "Open Sans", Arial, sans-serif; }

@font-face {
  font-family: 'Futura Std';
  src: url("/app/fonts/FuturaStd-CondensedBold.woff2") format("woff2"), url("/app/fonts/FuturaStd-CondensedBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Futura Std';
  src: url("/app/fonts/FuturaStd-Condensed.woff") format("woff2"), url("/app/fonts/FuturaStd-Condensed.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Open Sans';
  src: url("/app/fonts/OpenSans-Regular.woff2") format("woff2"), url("/app/fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Open Sans';
  src: url("/app/fonts/OpenSans.woff") format("woff2"), url("/app/fonts/OpenSans.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Open Sans';
  src: url("/app/OpenSans-Italic.woff2") format("woff2"), url("/app/OpenSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }

body {
  font-size: 16px;
  line-height: 35px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #585c60; }

.row {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%; }

.container {
  max-width: 1170px; }

.button {
  position: relative;
  z-index: 5;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  font-family: "Futura Std", sans-serif;
  border: 2px solid #56bcbb;
  background-color: transparent;
  padding: 10px 60px; }
  .button:hover {
    background-color: #56bcbb;
    border: 2px solid #2e5470; }

.banner {
  position: relative;
  height: 100vh;
  padding: 50px 0 0 0; }
  .banner::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(18, 32, 45, 0.9); }
  .banner::after {
    content: "";
    background: linear-gradient(to right top, rgba(32, 63, 73, 0.5) 50%, transparent 50%);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 3;
    top: 0%; }

.banner__title {
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 4; }

.footer {
  padding: 15px 0; }

.footer__text {
  margin: 0 auto;
  font-size: 14px;
  line-height: 35px; }
