.bg-black {
  background-color: #000; }

.color-black {
  color: #000; }

.bg-white {
  background-color: #fff; }

.color-white {
  color: #fff; }

.bg-color-primary {
  background-color: #020202; }

.color-color-primary {
  color: #020202; }

.bg-color-secondary {
  background-color: #56bcbb; }

.color-color-secondary {
  color: #56bcbb; }

.bg-blue-dark {
  background-color: #12202d; }

.color-blue-dark {
  color: #12202d; }

* {
  box-sizing: border-box; }
  *::before, *::after {
    box-sizing: border-box; }

ul {
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

p {
  margin: 0; }

a:focus,
a:hover,
a:active {
  outline: none; }

.cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }

.flex {
  display: flex;
  align-items: center; }

.flex-end {
  display: flex;
  justify-content: flex-end; }
  @media only screen and (max-width: 768px) {
    .flex-end {
      display: block;
      margin: 0 auto;
      text-align: center; } }

.center {
  text-align: center; }

.in-front {
  position: relative;
  z-index: 100; }

.no-padding {
  padding: 0; }

@media only screen and (max-width: 768px) {
  .title-center {
    text-align: center; } }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Futura Std", sans-serif;
  text-transform: uppercase;
  font-weight: bold; }

h1, .h1 {
  font-size: 80px;
  color: #fff; }
  @media only screen and (max-width: 576px) {
    h1, .h1 {
      font-size: 60px; } }

h2, .h2 {
  font-size: 50px;
  line-height: 50px;
  color: #fff; }
  @media (max-width: 576px) {
    h2, .h2 {
      font-size: 34px; } }

h3, .h3 {
  font-size: 30px;
  line-height: 50px;
  color: "Open Sans", Arial, sans-serif; }

.section-title::after {
  content: '';
  display: block;
  height: 4px;
  width: 300px;
  background-color: #56bcbb;
  margin: 24px 0 124px; }
  @media only screen and (max-width: 576px) {
    .section-title::after {
      width: 100%;
      margin-bottom: 50px; } }

.line {
  display: block;
  height: 4px;
  width: 35%;
  margin: 24px 0 124px;
  background-color: #56bcbb;
  position: relative; }
  @media only screen and (max-width: 768px) {
    .line {
      width: 100%; } }

@font-face {
  font-family: 'Futura Std';
  src: url("../../fonts/FuturaStd-CondensedBold.woff2") format("woff2"), url("../../app/fonts/FuturaStd-CondensedBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Futura Std';
  src: url("../../fonts/FuturaStd-Condensed.woff") format("woff2"), url("../../fonts/FuturaStd-Condensed.woff") format("woff"), url("../../fonts/Futura Std Bold Condensed.otf") format("otf");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Open Sans';
  src: url("../../fonts/OpenSans-Italic.woff2") format("woff2"), url("../../fonts/OpenSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Open Sans';
  src: url("../../fonts/OpenSans-Regular.woff2") format("woff2"), url("../../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

body {
  font-size: 16px;
  line-height: 35px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #585c60; }
  @media (max-width: 576px) {
    body {
      font-size: 14px; } }

.row {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%; }

.container {
  max-width: 1170px; }

::-webkit-scrollbar {
  width: 15px; }

::-webkit-scrollbar-track {
  background: #1f2f3b; }

::-webkit-scrollbar-thumb {
  background: #56bcbb;
  /* border-radius: 20px; */ }

.button {
  position: relative;
  z-index: 5;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  font-family: "Futura Std", sans-serif;
  border: 2px solid #56bcbb;
  background-color: transparent;
  padding: 5px 71px; }
  .button:hover {
    background-color: #56bcbb;
    border: 2px solid transparent;
    transition: all  .7s ease-in; }
  @media only screen and (max-width: 768px) {
    .button {
      margin: 0 auto; } }

.login-btn {
  font-family: "Futura Std", sans-serif;
  text-align: center;
  background: linear-gradient(35deg, #54bcbd 30%, rgba(0, 108, 63, 0) 31%);
  white-space: nowrap;
  text-transform: uppercase;
  vertical-align: middle;
  border: 2px solid #54bcbd;
  color: white;
  padding: 9px 71px;
  line-height: 1.5;
  transition: all 0.5s ease;
  position: relative;
  z-index: 100; }

.button--secondary {
  padding: 12px 55px; }
  .button--secondary:hover {
    color: #fff;
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; }

.scroll-indicator-controller {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  right: 35px;
  z-index: 2; }
  @media (max-width: 1024px) {
    .scroll-indicator-controller .scroll-indicator-controller {
      right: 10px; } }
  @media only screen and (max-width: 768px) {
    .scroll-indicator-controller {
      right: 10px; } }

.scroll-indicator-controller > div {
  width: 12px;
  height: 12px;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin: 0 0 25px 0;
  cursor: pointer;
  transition: background 0.4s ease;
  will-change: transition;
  border: 1px solid #2e5470; }

.scroll-indicator-controller > div span {
  position: absolute;
  right: calc(100% + 8px);
  white-space: nowrap;
  top: -1px;
  font-family: arial, sans-serif;
  font-size: 16px;
  line-height: 17px;
  width: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateX(10px);
  transition: all 0.4s ease;
  will-change: transition;
  color: #000;
  font-weight: bold;
  text-transform: uppercase; }

.scroll-indicator-controller > div span:after {
  content: "-----";
  padding-left: 5px;
  letter-spacing: -2px;
  font-family: arial, sans-serif;
  vertical-align: text-top;
  font-weight: 400; }

@media (hover: hover) {
  .scroll-indicator-controller > div:hover span {
    width: auto;
    opacity: 1;
    overflow: visible;
    transform: translateX(0px); } }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .scroll-indicator-controller > div:hover span {
    width: auto;
    opacity: 1;
    overflow: visible;
    transform: translateX(0px); } }

@media (hover: none) {
  .scroll-indicator-controller > div span {
    display: none; } }

.scroll-indicator-controller.indi-mobile > div span {
  display: none; }

.scroll-indicator-controller > div.active {
  background: #8bc6c4; }

@supports (-ms-ime-align: auto) {
  .scroll-indicator-controller > div span {
    transition: opacity 0.4s ease; } }

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 34px;
  color: #fff;
  width: 27px; }

.arrow-down::before {
  content: "\f107";
  -webkit-animation: bounce 2s;
  animation: bounce 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@-webkit-keyframes bounce {
  0%,
  25%,
  50%,
  75%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(40px);
    transform: translateY(40px); }
  60% {
    -webkit-transform: translateY(22px);
    transform: translateY(22px); } }

@keyframes bounce {
  0%,
  25%,
  50%,
  75%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(40px);
    transform: translateY(40px); }
  60% {
    -webkit-transform: translateY(22px);
    transform: translateY(22px); } }

.hero {
  position: relative;
  padding: 50px 0 0 0;
  height: 100vh; }
  .hero::before {
    content: "";
    background: rgba(18, 32, 45, 0.9);
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0%; }
  .hero::after {
    content: '';
    background: rgba(32, 63, 73, 0.7);
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0; }

.hero__heading {
  position: absolute;
  margin: 0 auto;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 100; }

.hero__img {
  width: 100%; }

.hero__info {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 100;
  font-weight: 500;
  font-family: "Futura Std", sans-serif; }
  .hero__info-name, .hero__info-email {
    font-size: 30px;
    line-height: 40px; }
    @media only screen and (max-width: 576px) {
      .hero__info-name, .hero__info-email {
        font-size: 20px;
        line-height: 25px; } }
  .hero__info-name {
    text-transform: uppercase; }

.footer {
  padding: 15px 0; }

.footer__text {
  margin: 0 auto;
  font-size: 14px;
  line-height: 35px; }
  @media only screen and (max-width: 576px) {
    .footer__text {
      text-align: center; } }

.investors {
  position: relative;
  padding: 96px 0 6px 0; }
  .investors::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(18, 32, 45, 0.9); }
  @media only screen and (max-width: 576px) {
    .investors {
      padding: 26px 0 6px; } }
  .investors h2, .investors .line {
    z-index: 100; }

.investors__title {
  position: relative;
  z-index: 100; }

.investors__content {
  margin-bottom: 136px; }
  @media only screen and (max-width: 576px) {
    .investors__content {
      text-align: center; } }

.investors__heading {
  color: #fff;
  font-weight: bold;
  margin-bottom: 39px; }

.investors__description {
  color: #56bcbb;
  font-size: 30px;
  font-family: "Futura Std", sans-serif;
  margin-bottom: 15px; }

#logo1 {
  margin-bottom: 40px; }

#logo2 {
  margin-right: 30px; }
  @media only screen and (max-width: 576px) {
    #logo2 {
      margin-right: 0;
      margin-bottom: 30px; } }

.about {
  position: relative;
  padding: 96px 0 294px; }
  @media only screen and (max-width: 768px) {
    .about {
      padding: 90px 0 100px; } }
  @media only screen and (max-width: 576px) {
    .about {
      padding: 26px 0 100px; } }

.about__title,
.about__heading {
  color: #2e5470; }

.about__heading {
  margin-bottom: 34px; }

.about__content {
  display: flex;
  align-items: start;
  justify-content: space-between; }
  @media only screen and (max-width: 768px) {
    .about__content {
      display: block;
      text-align: center; } }

.about__box-left {
  max-width: 683px; }
  @media only screen and (max-width: 768px) {
    .about__box-left {
      max-width: 100%; } }

.about__img {
  position: absolute;
  height: 800px;
  top: 75px;
  right: 0; }
  @media only screen and (max-width: 768px) {
    .about__img {
      display: none; } }

.portfolio {
  position: relative;
  padding: 96px 0 56px 0; }
  .portfolio::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(18, 32, 45, 0.9); }
  @media only screen and (max-width: 576px) {
    .portfolio {
      padding: 26px 0 100px; } }

.portfolio__box {
  padding: 30px;
  margin-bottom: 20px;
  height: 400px; }
  .portfolio__box:hover {
    animation: all .9s ease-out;
    background: rgba(30, 43, 56, 0.6);
    border: 1px solid #4d555c;
    box-shadow: 13px 10px 45px 0px #302f30; }
  @media only screen and (max-width: 768px) {
    .portfolio__box {
      text-align: center;
      padding: 10px;
      margin-bottom: 10px; } }
  @media only screen and (max-width: 576px) {
    .portfolio__box {
      padding: 5px; } }

.portfolio__img {
  margin-bottom: 8px; }

.portfolio__heading {
  margin: 0 auto;
  text-align: center; }

.portfolio__box-small {
  font-style: italic;
  line-height: 35px;
  color: #56bcbb;
  margin-bottom: 34px; }
  .portfolio__box-small span {
    font-size: 16px; }

.portfolio__box-text {
  line-height: 35px;
  margin-bottom: 24px; }

.advisors {
  padding: 95px 0 0;
  position: relative; }
  .advisors h2 {
    color: #2e5470; }
    @media only screen and (max-width: 576px) {
      .advisors h2 {
        text-align: center; } }
  @media only screen and (max-width: 768px) {
    .advisors {
      padding: 96px 0 100px; } }
  @media only screen and (max-width: 576px) {
    .advisors {
      padding: 26px 0 20px; } }
  .advisors .section-title {
    margin: 24px 0 0; }

.advisors__title {
  margin: -29px 0 96px;
  margin-bottom: 96px; }
  @media only screen and (max-width: 768px) {
    .advisors__title {
      margin: 0 auto 80px auto; } }
  @media only screen and (max-width: 576px) {
    .advisors__title {
      text-align: center; } }

.advisors__row {
  margin-bottom: 90px; }
  @media only screen and (max-width: 768px) {
    .advisors__row {
      margin-bottom: 0; } }

.advisors__row-text {
  display: flex;
  align-items: flex-end; }

.advisors__person {
  display: flex;
  align-items: flex-start; }
  @media only screen and (max-width: 768px) {
    .advisors__person {
      justify-content: space-around; } }
  @media only screen and (max-width: 576px) {
    .advisors__person {
      display: block;
      text-align: center;
      margin-bottom: 20px; } }

.container-test {
  position: relative;
  width: 100%;
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 23px; }
  @media only screen and (max-width: 768px) {
    .container-test {
      margin-bottom: 100px; } }
  @media only screen and (max-width: 576px) {
    .container-test {
      margin: 0 auto 40px auto; } }

.advisors__person-img {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  object-fit: cover; }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: #2e5470;
  border-radius: 50%; }

.icon-link {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }
  .icon-link:hover {
    color: #fff; }

.container-test:hover .overlay {
  opacity: 1; }

.advisors__person-name {
  text-transform: capitalize;
  font-family: "Futura Std", sans-serif;
  color: #56bcbb;
  font-weight: 500;
  line-height: 24px; }

.advisors__item {
  line-height: 25px; }

.advisors__item::before {
  content: '.';
  width: 28px;
  color: #2e5470;
  display: inline-block;
  font-size: 40px; }
