.bg-black {
  background-color: #000; }

.color-black {
  color: #000; }

.bg-white {
  background-color: #fff; }

.color-white {
  color: #fff; }

.bg-color-primary {
  background-color: #2e5470; }

.color-color-primary {
  color: #2e5470; }

.bg-color-secondary {
  background-color: #56bcbb; }

.color-color-secondary {
  color: #56bcbb; }

* {
  box-sizing: border-box; }
  *::before, *::after {
    box-sizing: border-box; }

ul {
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

p {
  margin: 0; }

a:focus,
a:hover,
a:active {
  outline: none; }

.cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }

.flex {
  display: flex;
  align-items: center; }

.center {
  text-align: center; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Arial, sans-serif;
  text-transform: uppercase; }

h2, .h2 {
  font-size: 50px;
  line-height: 50px;
  color: #2e5470; }

h3, .h3 {
  font-size: 30px;
  line-height: 50px;
  color: Arial, sans-serif; }

body {
  font-size: 16px;
  line-height: 35px;
  font-family: Arial, sans-serif;
  color: #585c60; }

.row {
  max-width: 1140px;
  margin: 0 auto;
  width: 100%; }

.container {
  max-width: 1400px; }
