@font-face {
	font-family: 'Futura Std';
	src: url('/app/fonts/FuturaStd-CondensedBold.woff2') format('woff2'),
		url('/app/fonts/FuturaStd-CondensedBold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Futura Std';
	src: url('/app/fonts/FuturaStd-Condensed.woff') format('woff2'),
		url('/app/fonts/FuturaStd-Condensed.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: url('/app/fonts/OpenSans-Regular.woff2') format('woff2'),
		url('/app/fonts/OpenSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: url('/app/fonts/OpenSans.woff') format('woff2'),
		url('/app/fonts/OpenSans.woff2') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: url('/app/OpenSans-Italic.woff2') format('woff2'),
		url('/app/OpenSans-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Sansita Swashed';
	src: url('/app/fonts/SansitaSwashed-Light.woff2') format('woff2'),
		url('/app/fonts/SansitaSwashed-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
