h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $font-primary;
	text-transform: uppercase;
	font-weight: bold;
}

h1, .h1 {
	font-size: 80px;
	color: $white;
	@media only screen and (max-width: $sm) {
		font-size: 60px;
	}
}

h2, .h2 {
	font-size: 50px;
	line-height: 50px;
	color: $white;
	@media (max-width: $sm) {
		font-size: 34px;
	}
}

h3, .h3 {
	font-size: 30px;
	line-height: 50px;
	color: $font-secondary;
}

.section-title {
	margin-bottom: 130px;
}

.section-title::after {
	content: '';
	position: absolute;
	display: block;
	height: 4px;
	width: 30%;
	background-color: $color-secondary;
	left: 0;
	margin-top: 24px;
	z-index: 100;
	@media only screen and (max-width: $md) {
		width: 100%;
		margin-bottom: 50px;
	}
}

.line {
	display: block;
	height: 4px;
	width: 35%;
	margin: 24px 0 124px;
	background-color: $color-secondary;
	position: relative;
	@media only screen and (max-width: $md) {
		width: 100%;
		
	}
}