h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $font-primary;
	text-transform: uppercase;
	font-weight: bold;
}

h1, .h1 {
	font-size: 85px;
	color: $white;
}

h2, .h2 {
	font-size: 50px;
	line-height: 50px;
	color: $white;
}

h3, .h3 {
	font-size: 30px;
	line-height: 50px;
	color: $font-secondary;
}

.section-title::after {
	content: '';
	display: block;
	height: 4px;
	width: 300px;
	background-color: $color-secondary;
	margin: 24px 0 124px;
}