.button {
	position: relative;
	z-index: 5;
	text-transform: uppercase;
	color: $white;
	font-size: 18px;
	font-family: $font-primary;
	border: 2px solid $color-secondary;
	background-color: transparent;
	padding: 5px 71px;
	&:hover {
		background-color: $color-secondary;
		border: 2px solid transparent;
		transition: all  .7s ease-in;
	}
	@media only screen and (max-width: $md) {
		margin: 0 auto;
	}
}

.button-primary {
	position: relative; 
}

.button-primary::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	background: linear-gradient(45deg, $color-secondary 50%, transparent 50%);
}

.button-primary,
.button-primary:after {
	background-size: 300%;
	background-position: 100%;
	transition: 1s, font-size 0.2s;
}

.button-primary:hover,
.button-primary:hover:after {
	background-position: 0;
	color: $white; 
}

.button--secondary {
	padding: 12px 55px;
	&:hover {
		color: $white;
		// transition: all  .7s ease-in;
		border: 1px solid;
		box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
		outline-color: rgba(255, 255, 255, 0);
		outline-offset: 15px;
		text-shadow: 1px 1px 2px #427388; 
	}
}
