.icon::before {
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font-family: $font-awesome;
	font-weight: 900;
	font-size: 34px;
	color: $white;
	width: 27px;
}

.arrow-down::before {
	content: "\f107";
}

