
.about {
	position: relative;
	padding: 96px 0 296px;
	@media only screen and (max-width: $md) {
		padding: 90px 0 100px;
	}
	@media only screen and (max-width: $sm) {
		padding: 26px 0 100px;
	}
}

.about__title,
.about__heading {
	color: $blue;
}

.about__heading {
	margin-bottom: 34px;
}

.about__content {
	display: flex;
	align-items: start;
	justify-content: space-between;
	@media only screen and (max-width: $md) {
		display: block;
		text-align: center;
	}
}

.about__box-left {
	max-width: 683px;
}

.about__img {
	position: absolute;
	height: 800px;
	top: 75px;
	right: 0;
	@media only screen and (max-width: $md) {
		display: none;
	}
}

