.banner {
	position: relative;
	height: 100vh;
	padding: 50px 0 0 0;
	&::before {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: absolute;
		background: rgba($blue-dark, .9);
	}
	&::after {
		content: "";
		background: linear-gradient(to right top, rgba($green-dark, .5) 50%, transparent 50%);
		height: 100%;
		position: absolute;
		width: 100%;
		z-index: 3;
		top: 0%;
	}
}

.banner__title {
	position: absolute;
	margin: 0 auto;
	top: 52%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	z-index: 4;
}

.banner__title-img {
	width: 100%;
}

.banner__info {
	position: absolute;
	text-align: center;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	font-family: $font-primary;
	&-name,
	&-mail {
		font-size: 30px;
		line-height: 40px;
		@media only screen and (max-width: $sm) {
			font-size: 20px;
			line-height: 25px;
		}
	}
	&-name {
		text-transform: uppercase;
	}

}
