.hero {
	position: relative;
	padding: 50px 0 0 0;
	height: 100vh;
	&::before {
		content: "";
		background: rgba(#12202d, .9);
		height: 100%;
		position: absolute;
		width: 100%;
		top: 0%;
	}
	&::after {
		content: '';
		background: rgba(#203f49, .7);
		clip-path: polygon(0 0, 0% 100%, 100% 100%);
		height: 100%;
		position: absolute;
		width: 100%;
		top: 0;
	}
	
}

.hero__heading {
	position: absolute;
	margin: 0 auto;
	top: 52%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	z-index: 100;
}

.hero__img {
	width: 100%;
}

.hero__info {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	z-index: 100;
	font-weight: 500;
	font-family: $font-primary;
	&-name,
	&-email {
		font-size: 30px;
		line-height: 40px;
		@media only screen and (max-width: $sm) {
			font-size: 20px;
			line-height: 25px;
		}
	}
	&-name {
		text-transform: uppercase;
	}

}

