.investors {
		position: relative;
		padding: 96px 0 0 0;
		&::after {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			position: absolute;
			background: rgba($blue-dark, 0.9);
		}
}

.investors__content {
	margin-bottom: 136px;
	@media only screen and (max-width: $sm) {
		text-align: center;
	}
}
.investors__heading {
	color: #fff;
	font-weight: bold;
	margin-bottom: 39px;
}

.investors__description {
	color: $color-secondary;
	font-size: 30px;
	font-family: $font-primary;
	margin-bottom: 15px;
}

#logo1 {
	margin-bottom: 40px;
}

#logo2 {
	margin-right: 30px;
	@media only screen and (max-width: $sm) {
		margin-right: 0;
		margin-bottom: 30px;
	}
}
	