.portfolio {
	position: relative;
	padding: 96px 0 56px 0;
	&::after {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: absolute;
		background: rgba($blue-dark, 0.9);
	}
	@media only screen and (max-width: $sm) {
		padding: 26px 0 100px;
	}
}

.portfolio__box {
	padding: 30px;
	margin-bottom: 20px;
	height: 400px;
	&:hover {
		animation: all .9s ease-out;
		background: rgba(#1e2b38, .6);
		border: 1px solid $gray-300;
		box-shadow: 13px 10px 45px 0px rgba(48,47,48,1);
	}
	@media only screen and (max-width: $md) {
		text-align: center;
		padding: 10px;
		margin-bottom: 10px;
	}
	@media only screen and (max-width: $sm) {
		padding: 5px;
	}
}

.portfolio__img {
	margin-bottom: 8px;
}

.portfolio__heading {
	margin: 0 auto;
	text-align: center;
}

.portfolio__box-small {
	font-style: italic;
	line-height: 35px;
	color: $color-secondary;
	margin-bottom: 34px;
	span {
		font-size: 16px;
	}
}

.portfolio__box-text {
	line-height: 35px;
	margin-bottom: 24px;

}

