//Fonts
$font-primary: 'Futura Std', sans-serif;
$font-secondary: 'Open Sans', Arial, sans-serif;

// Colors
$black: #000;
$white: #fff;
$gray: #585c60;
$color-primary: #2e5470;
$color-secondary: #56bcbb;
$blue-dark: #12202d;
$green-dark: #203f49; 

$site-colors: (
	'black': $black,
	'white': $white,
	'color-primary': $color-primary,
	'color-secondary': $color-secondary
) !default;




